openapi: 3.1.1
info:
  title: Free API by Dignicate,
  description: Implemented with Ktor.
  version: 1.0.0
servers:
  - url: 'https://freeapi.dignicate.com'
  - url: 'http://localhost:8080'
paths:
  /automobile/v1/companies:
    get:
      description: ""
      parameters:
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "integer"
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Company"
  /current-time:
    get:
      description: "Returns the current UTC time in multiple formats."
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CurrentTimeResponse"
  /redirect:
    get:
      description: "Redirects to specified URL after an optional delay."
      parameters:
        - name: "delayMs"
          in: "query"
          required: false
          schema:
            type: "integer"
            default: 0
            example: 1000
        - name: "url"
          in: "query"
          required: true
          schema:
            type: "string"
            format: "uri"
            example: "https://dignicate.com"

      responses:
        "302":
          description: "Found"
          headers:
            Location:
              description: "The URL to redirect to"
              schema:
                type: string
              example: "https://dignicate.com"
components:
  schemas:
    Company:
      type: object
      properties:
        id:
          type: integer
        name:
          type: array
          items:
            $ref: "#/components/schemas/LocalizedString"
        country:
          type: array
          items:
            $ref: "#/components/schemas/LocalizedString"
        founded_year:
          type: integer
    LocalizedString:
      type: object
      properties:
        language:
          type: string
        value:
          type: string
    CurrentTimeResponse:
      type: object
      properties:
        utc:
          type: string
        millis:
          type: integer
          format: int64
        unixSeconds:
          type: integer
          format: int64
        iso8601:
          type: string
